<!DOCTYPE html>
<html>
 <head>
 	<link rel="stylesheet" type="text/css" href="src/css/index.css">
 </head>
<body>
	<div id="gameWindow">
		<img src="resources/images/background/1.png" id="gameImage">
		<img src="resources/images/logos/gameLogo.png" id="gameLogo">
		<div id="flag">
			<img src="resources/images/logos/en.png" id="en" class="flags">
			<img src="resources/images/logos/it.png" id="it" class="flags">
		</div>
	</div>
</body>
<!-- <script type="text/javascript" src="src/js/client/libraries/socket.io.slim.js"></script> -->
<script type="text/javascript" src="src/js/client/libraries/DOManipulationFunctions.js"></script>
<script type="text/javascript" src="src/js/client/main.js"></script>
<script type="text/javascript" src="src/js/client/askLanguagePage.js"></script>
<script type="text/javascript" src="src/js/client/askNamePage.js"></script>
<!-- <script type="text/javascript" src="src/js/client/lobbyPage.js"></script>-->
<!-- <script type="text/javascript" src="src/js/client/matchPage.js"></script>-->
</html>